:root {
    --bg-color: #212f3c;
    --hd-color: #FF5733;
}

.color-2 {color: #1b2631;}
.color-3 {color: #5f6a6a;}
.color-4 {color: #DAF7A6;}
.color-5 {color: #FFC300;}
.color-6 {color: #FF5733;}

body {
    margin: 60px auto;
    width: 70%;
    background: var(--bg-color);
    font-family: 'Cute Font', cursive;
}
nav ul, footer ul {
    /* font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    color: var(--hd-color);
}

p, li {
    font-size: 2em;
    line-height: 1.4em;
    color: white;
}

footer {
    border-top: 1px solid #d5d5d5;
    margin-left: 200px;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 5em;
    left: 5em;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    color: white;
    text-decoration: underline;
}

.container {
    margin-left: 200px;
    padding: 0px 10px;
}

hr {
    color: white;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
