<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Cute+Font&display=swap" rel="stylesheet">
	</head>
	<body>

    <div class="sidenav">
      <a href="/">About</a>
      <a href="#">I will code for food</a>
      <a href="/academia.html">Academia</a>
      <a href="#"></a>
    </div>

    <div class="container">
			
			{{ content }}
			
		</div><!-- /.container -->

		<footer>
	    <ul>
	      <li><a href="mailto:b3by.in.th3.sky@gmail.com">email</a></li>
	      <li><a href="https://github.com/b3by">github.com/b3by</a></li>
			</ul>
		</footer>

	</body>
</html>
